ul {
    background-color: rgb(223, 255, 127);
    height: 200px;
    width: 300px;
}

#black {
    background-color: rgb(46, 197, 26);
}

.blue {
    background-color: rgb(141, 135, 222);
}

* {
    background-color: rgb(246, 160, 1);
}